<div class="nav-container">
  <nav>
    <div class="nav-bar">
      <div class="module left">
        <a href="/">
          <img class="logo logo-light" alt="Foundry" src="/img/logo-light.png">
          <div class="vnu"><img class="logo logo-dark" alt="Foundry" src="/img/cb/cblogo.png"></div>
        </a>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">

            <li class="has-dropdown toggle-sub">
              <a href="#">
                COURSES</a>
              <ul class="mega-menu">
                <li class="has-dropdown toggle-sub">
		                                    <span class="title">
		                                        KIDS</span>
                  <ul>
                    <li>
                      {{#link-to 'sign-up'}}
                        CODE4KIDS{{/link-to}}
                    </li><li class="vpf">
                    {{#link-to 'sign-up'}}
                      MATHGEEKS{{/link-to}}
                  </li>
                  </ul>
                </li><li class="has-dropdown toggle-sub vpf">
		                                    <span class="title">
		                                        FUNDAMENTALS</span>
                <ul>
                  <li>
                    {{#link-to 'courses.launchpad'}}
                      LAUNCHPAD (C++){{/link-to}}
                  </li><li class="vpf">
                  {{#link-to 'courses.crux'}}
                    CRUX (JAVA){{/link-to}}
                </li>
                </ul>
              </li><li class="has-dropdown toggle-sub vpf">
		                                    <span class="title">
		                                        DEVELOPMENT</span>
                <ul>
                  <li>
                    {{#link-to 'courses.pandora'}}
                      PANDORA (ANDROID){{/link-to}}
                  </li><li class="vpf">
                  {{#link-to 'sign-up'}}
                    ELIXIR (WEB NODEJS){{/link-to}}
                </li><li class="vpf">{{#link-to 'sign-up'}}
                    DJANGO (WEB PYTHON){{/link-to}}
                </li>
                </ul>
              </li><li class="has-dropdown vpf">
		                                    <span class="title">
		                                        ADVANCED</span>
                <ul>
                  <li>
                    {{#link-to 'sign-up'}}
                      PERCEPTRON(MACHINE LEARNING){{/link-to}}
                  </li><li class="vpf">
                  {{#link-to 'sign-up'}}
                    CANVAS(GAME DEV){{/link-to}}
                </li>
                </ul>
              </li>
              </ul>
            </li>
            <li class="has-dropdown toggle-sub">
              <a href="#">
                Coding Blocks Edge</a>
              <ul class="mega-menu">
                <li>
                  <ul>
                    <li>
                      <span class="title">ABOUT US</span>
                    </li>
                    <li>
                      {{#link-to 'index' class="inner-link" }}WHY CODING BLOCKS{{/link-to}}
                    </li><li class="vpf">
                    {{#link-to 'index' class="inner-link" }}OUR TEAM{{/link-to}}
                  </li><li class="vpf">
                    {{#link-to 'index'}}NUMBERS{{/link-to}}
                  </li><li class="vpf">
                    {{#link-to "index"}}TESTIMONIALS{{/link-to}}
                  </li><li class="vpf">
                    {{#link-to "index"}}>CONTACT{{/link-to}}
                  </li>
                  </ul>
                </li>
                <li class="toggle-sub">
                  <ul>
                    <li>
                      <span class="title">RESOURCES</span>
                    </li>
                    <li class="vpf">
                      <a href="#">ALUMNI PORTAL</a>
                    </li><li class="vpf">
                    <a href="#">PROJECTS</a>
                  </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              {{#link-to 'sign-up'}}Sign Up{{/link-to}}
            </li>
            <li>
              <a href="http://blog.codingblocks.xyz">Blog</a>
            </li>
            <li>
              <a title="Open Source Projects Playground"
                 href="http://lab.codingblocks.xyz">Labs</a>
            </li>
            <li>
              <a title="Our Locations"
                 href="/contactus">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="main-container">
  {{outlet}}
  {{#foot-er}}{{/foot-er}}
</div>
