<form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
  <h6 class="uppercase text-center">Thanks you for your interest in Coding Blocks, Please fill out the following form for further details:</h6>
  <input class="validate-required" name="name" placeholder="Name" type="text">
  <input class="validate-required validate-email" name="email" placeholder="Email Address" type="text">
  <input class="validate-required" name="phone" placeholder="Phone Number" type="text">
  <input class="validate-required" name="course" placeholder="Launchpad" value="Launchpad" type="checkbox">
  <button type="submit">Sign Up</button>
</form>
